<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="ShaneSpaceAuthUri" value="replaced by VSTS" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ShaneSpaceAuthSiteKey" value="replaced by VSTS" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <connectionStrings>
    <add name="ShaneSpaceGameSite"
      connectionString="replaced by VSTS"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <machineKey decryption="AES" decryptionKey="$(decryptionKey)" validation="HMACSHA256" validationKey="$(validationKey)" xdt:Transform="SetAttributes" />
  </system.web>
</configuration>