<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="8cf859c0-5625-4afe-8de8-9f0e05c93112" Version="1.0.0.0" Publisher="CN=Shane" />
  <mp:PhoneIdentity PhoneProductId="8cf859c0-5625-4afe-8de8-9f0e05c93112" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>ShaneSpace.GameSite.HostedWebApp</DisplayName>
    <PublisherDisplayName>Shane</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="http://localhost:55045/">
      <uap:VisualElements DisplayName="ShaneSpace.GameSite.HostedWebApp" Description="ShaneSpace.GameSite.HostedWebApp" BackgroundColor="transparent" Square150x150Logo="images\Square150x150Logo.png" Square44x44Logo="images\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="images\Wide310x150Logo.png">
        </uap:DefaultTile>
        <uap:SplashScreen Image="images\splashscreen.png" />
      </uap:VisualElements>
      <uap:ApplicationContentUriRules>
        <uap:Rule Match="http://localhost:55045/" Type="include" WindowsRuntimeAccess="all" />
      </uap:ApplicationContentUriRules>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>